*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-weight: bolder;
}
.cal-input input{
    height:50px;
    width: 300px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2rem;
    text-align: right;
    padding: 0 5px;
}
.cal-body{
    height: 500px;
    width: 300px;
    margin: 0 auto;
    
}
.card{
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 3px;
}
.card:hover{
    background-color: chocolate;

}
.btn{
    background-color: blue;
}
.sum{
    background-color: orange;
    
}

